
Inlogscherm/obj/Cinema Project B.csproj.nuget.dgspec.json
Inlogscherm/obj/Cinema Project B.csproj.nuget.g.props
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.assets.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.csprojAssemblyReference.cache
Inlogscherm/obj/project.nuget.cache
Inlogscherm/obj/project.assets.json
Inlogscherm/obj/project.nuget.cache
Inlogscherm/obj/project.assets.json
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.csprojAssemblyReference.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.assets.cache
Inlogscherm/obj/Cinema Project B.csproj.nuget.dgspec.json
Inlogscherm/obj/Cinema Project B.csproj.nuget.g.props
Inlogscherm/.vs/ConsoleApp1/v16/.suo
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.pdb
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.genruntimeconfig.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.dll
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.csprojAssemblyReference.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.csproj.CoreCompileInputs.cache
Inlogscherm/bin/Debug/netcoreapp3.1/Cinema Project B.runtimeconfig.dev.json
Inlogscherm/bin/Debug/netcoreapp3.1/Cinema Project B.dll
Inlogscherm/.vs/ConsoleApp1/v16/.suo
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.assets.cache
Inlogscherm/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
Inlogscherm/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
Inlogscherm/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
Inlogscherm/.vs/ConsoleApp1/v16/.suo
Inlogscherm/bin/Debug/netcoreapp3.1/Accounts.JSON
Inlogscherm/bin/Debug/netcoreapp3.1/Cinema Project B.dll
Inlogscherm/bin/Debug/netcoreapp3.1/Cinema Project B.pdb
Inlogscherm/bin/Debug/netcoreapp3.1/Cinema Project B.runtimeconfig.dev.json
Inlogscherm/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
Inlogscherm/.vs/ConsoleApp1/v16/.suo
Inlogscherm/bin/Debug/netcoreapp3.1/Cinema Project B.dll
Inlogscherm/bin/Debug/netcoreapp3.1/Cinema Project B.pdb
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.assets.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.csproj.CoreCompileInputs.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.csprojAssemblyReference.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.dll
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.pdb
Inlogscherm/.vs/ConsoleApp1/v16/.suo
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.assets.cache
Inlogscherm/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
Inlogscherm/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
Inlogscherm/.vs/ConsoleApp1/v16/.suo
Inlogscherm/bin/Debug/netcoreapp3.1/Cinema Project B.dll
Inlogscherm/bin/Debug/netcoreapp3.1/Cinema Project B.pdb
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.csprojAssemblyReference.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.dll
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.pdb
