
Inlogscherm/obj/Cinema Project B.csproj.nuget.dgspec.json
Inlogscherm/obj/Cinema Project B.csproj.nuget.g.props
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.assets.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.csprojAssemblyReference.cache
Inlogscherm/obj/project.nuget.cache
Inlogscherm/obj/project.assets.json
Inlogscherm/obj/project.nuget.cache
Inlogscherm/obj/project.assets.json
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.csprojAssemblyReference.cache
Inlogscherm/obj/Debug/netcoreapp3.1/Cinema Project B.assets.cache
Inlogscherm/obj/Cinema Project B.csproj.nuget.dgspec.json
Inlogscherm/obj/Cinema Project B.csproj.nuget.g.props
